<section id="two" class="three-column">
    <div class="inner">
        <header class="major">
            <h2>Terapia para todos</h2>
        </header>
        <p>
            Realizada por profissionais qualificados, a terapia melhorara o autoconhecimento e trata depressão, ansiedade, fobias e problemas relacionamento.</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Como funciona</h2>
        </header>
        <p>Terapia não é aconselhamento. A técnica terapeutica busca capacitar o paciente para lidar com suas próprias emoções, enfrentar seus problemas, dando autonomia para enfrentar os obstaculos da vida.</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Abordagem</h2>
        </header>
        <p>Através da palavra ou da produção artística, acessamos conteúdos mais internos e profundos, que não são evidentes para o paciente de outras maneiras. Esse autoconhecimento torna o paciente capaz de lidar com suas próprias questões internas. </p>
    </div>
</section>