<section id="two" class="three-column">
    <div class="inner">
        <header class="major">
            <h2>Terapia para todos</h2>
        </header>
        <p>Terapia não é apenas para loucos e doentes, todos devem se tratar. Autoconhecimento, depressão, ansiedade, transtornos alimentares, sexuais e outros problemas podem ser tratados com terapia</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Como funciona</h2>
        </header>
        <p>Desmistificar o tratamento, explicar a diferença entre terapia e conselhos, assim como a importanciade bons profissionais</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Abordagem</h2>
        </header>
        <p>Explicar um pouco sobre as abordagens utilizadas, explicar um pouco mais as diferenças de cada uma das abordagens, dar uma passo além ao item anterior</p>
    </div>
</section>