<section id="two" class="three-column">
    <div class="inner">
        <header class="major">
            <h2>Terapia para todos</h2>
        </header>
        <p>
            Realizada por profissionais qualificados, a terapia melhorara o autoconhecimento e trata problemas de depressão, ansiedade e de relacionamento.</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Como funciona</h2>
        </header>
        <p>Ao invés de aconselhar, a técnica terapeutica busca capacitar o paciente a lidar com suas emoções e enfrentar seus problemas de forma autonoma.</p>
    </div>
    <div class="inner">
        <header class="major">
            <h2>Abordagem</h2>
        </header>
        <p>Através da palavra ou da produção artística, acessamos conteúdos mais internos e profundos, que não são evidentes para o paciente. Esse autoconhecimento torna o paciente capaz de lidar com suas próprias questões internas. </p>
    </div>
</section>