<section id="one" class="two-column">
  <div>
    <header class="major">
      <h3>Ivana Lúcia Hilgenberg Guimarães Vieira</h3>
      <p>Arte terapia e psicologia antroposófica - CRP 08/3932</p>
    </header>
      <ul>
        <li>Mestranda em Psicologia Clínica (UFPR)</li>
        <li>Especialização em Psicologia Ampliada pela Antroposofia (IBPA)</li>
        <li>Especialização em Antroposofia como Bases para Saúde. (UP)</li>
        <li>Especialização em Museologia (EMBAP)</li>
        <li>Formação em Arteterapia  (Instituto Sedes Sapientiae)</li>
        <li>Formação em Terapia Artística (Instituto SAGRES)</li>
        <li>Especialização em Psicologia Analítica (PUC-PR)</li>
        <li>Graduação, bacharelado e licenciatura em Psicologia (Tuiuti)</li>
      </ul>
  </div>
    
  <div>
    <header class="major">
      <h3>Dr. Tito Lívio Ferreira Vieira</h3>
      <p>Psicologia analítica Jungiana - CRP 08/2800</p>
    </header>
      <ul>
          <li>Doutorado em História da Ciência (PUC-SP)</li>
          <li>Mestrado em História da Ciência (PUC-SP)</li>
          <li>Aperfeiçoamento em Psicologia Cognitiva (Université de Liège/Bélgica)</li>  
          <li>Curso de Formação em Psicologia Corporal (ORGONE)</li>
          <li>Graduação e bacharelado em Psicologia (Universidade Tuiuti)</li>
          <li>Formação em Análise Junguiana (Instituto Jungiano de São Paulo)
          <li>Formação em Kundalini Yoga com Akal Muret</li>
          <li>Formação em Yoga (Faculdade Espirita do Paraná)</li>
          <li>Graduação em Educação Física (UFPR)</li>
      </ul>
  </div>

    
</section>
