<section id="one" class="two-column">
  <div>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3>Ivana Lucia Hilgenberg Vieira</h3>
      <p>Arte terapia e psicologia antroposófica</p>
      <ul>
        <li>Mestrado em andamento em Psicologia (UFPR)</li>
        <li>Especialização em psicologia Ampliada pela Antroposofia (IBPA)</li>
        <li>Especialização em Antroposofia como Pratica de Saúde. (UP)</li>
        <li>Especialização em Terapia Artistica</li>
        <li>Especialização em Psicologia Analítica (PUC-PR)</li>
        <li>Graduação em Psicologia (Universidade Tuiuti)</li>
      </ul>
    </header>
  </div>
    
  <div>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3>Tito Lívio Ferreira Vieira</h3>
      <p>Psicologia analítica Jungiana</p>
      <ul>
          <li>Doutorado em História da Ciência (PUC-SP)</li>
          <li>Doutorado em História da Ciência (PUC-SP)</li>
          <li>Aperfeiçoamento em Sciences Psychologiques (Université de l'Etat à Liège)</li>  
          <li>Curso de Formação em Psicologia Corporal</li>
          <li>Graduação em Psicologia (Universidade Tuiuti)</li>
      </ul>
    </header>
  </div>

    
</section>
